@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-screen {
  height: 560px;
  position: relative;
  @media (max-width: $breakpoint-xl) {
    height: 460px;
  }
  @media (max-width: $breakpoint-lg) {
    height: auto;
    padding: 100px 0;
  }
  @media (max-width: $breakpoint-md) {
    padding: 50px 0 30px 0;
  }
  & .container {
    height: 100%;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    &:before {
      content: "";
      background: rgba(0, 85, 123, 0.6);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    & img {
      @include defaultIcon(cover);
    }
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h1 {
      color: $yellowColor;
      font-size: 40px;
      line-height: 60px;
      font-weight: 900;
      margin-bottom: 24px;
      @media (max-width: $breakpoint-xl) {
        font-size: 34px;
        line-height: 51px;
      }
      @media (max-width: $breakpoint-lg) {
        font-size: 30px;
        line-height: 45px;
      }
      @media (max-width: $breakpoint-md) {
        font-size: 21px;
        line-height: 30px;
      }
    }
    & p {
      font-weight: 900;
      font-size: 48px;
      line-height: 64px;
      color: $whiteColor;
      @media (max-width: $breakpoint-xl) {
        font-size: 40px;
        line-height: 53px;
      }
      @media (max-width: $breakpoint-lg) {
        font-size: 30px;
        line-height: 42px;
      }
      @media (max-width: $breakpoint-md) {
        font-size: 28px;
        line-height: 38px;
      }
      & span {
        font-size: 48px;
        line-height: 64px;
        color: $whiteColor;
        font-weight: 900;
        text-decoration: none;
        background-image: linear-gradient($whiteColor, $whiteColor);
        background-position: 0% 92%;
        background-repeat: no-repeat;
        background-size: 100% 3px;
        transition: background-size .3s;
        @media (max-width: $breakpoint-xl) {
          background-size: 100% 2px;
          font-size: 40px;
          line-height: 53px;
        }
        @media (max-width: $breakpoint-lg) {
          font-size: 30px;
          line-height: 42px;
        }
        @media (max-width: $breakpoint-md) {
          font-size: 28px;
          line-height: 38px;
        }
      }
    }
  }
  &__button {
    margin-top: 50px;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      align-items: flex-start;
    }
    & p {
      margin-left: 25px;
      font-size: 18px;
      font-weight: 400;
      font-family: inherit;
      @media (max-width: $breakpoint-xl) {
        font-size: 18px;
      }
      @media (max-width: $breakpoint-lg) {
        font-size: 16px;
        line-height: 26px;
      }
      @media (max-width: $breakpoint-md) {
        font-size: 16px;
        line-height: 26px;
        margin: 16px 0 0 0;
        max-width: 80%;
        font-weight: 400;
      }
      & a {
        color: $whiteColor;
        font-weight: 700;
        border-color: $whiteColor;
      }
    }
  }
}

.website-navigation {
  background: $lightGrey;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1001;
  @media (max-width: $breakpoint-md) {
    display: none;
  }
  & ul {
    display: flex;
    align-items: center;
    padding: 15px 0;
  }
  & li {
    margin-right: 40px;
    & a {
      line-height: 1.3;
      display: inline-block;
      @include transition(.3);
      border-bottom: 1px solid transparent;
      &:hover {
        border-color: $lightBlue;
        color: $lightBlue
      }
    }
  }
}

.info-block {
  padding: 83px 0;
  @media (max-width: $breakpoint-lg) {
    padding: 60px 0;
  }
  @media (max-width: $breakpoint-md) {
    padding: 40px 0 0 0;
  }
  & .row {
    &.right-side-image {
      flex-direction: row-reverse;
      @media (max-width: $breakpoint-md) {
        flex-direction: column-reverse;
      }
    }
    @media (max-width: $breakpoint-md) {
      flex-direction: column-reverse;
    }
  }
  &__image {
    height: 100%;
    @media (max-width: $breakpoint-lg) {
      width: 345px;
      height: 345px;
      margin: auto;
    }
    @media (max-width: $breakpoint-md) {
      margin: 40px -15px 0 -15px;
      width: calc(100% + 30px);
      height: auto;
    }
    & img {
      @include defaultIcon(cover);
    }
  }
  &__content {
    padding: 16px 0 16px 0;
  }
  &__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #014f82;
    margin-bottom: 25px;
    @media (max-width: $breakpoint-xl) {
      font-size: 30px;
      line-height: 40px;
    }
    @media (max-width: $breakpoint-lg) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__line {
    width: 60px;
    height: 5px;
    background: $lightBlue;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-xl) {
      font-size: 20px;
    }
    @media (max-width: $breakpoint-lg) {
      font-size: 16px;
    }
    &.small-text {
      font-size: 18px;
      @media (max-width: $breakpoint-xl) {
        font-size: 16px;
      }
      & strong {
        font-weight: 700;
      }
    }
    & p {
      margin-bottom: 15px;
    }
    & strong {  
      font-weight: 700;
      color: $darkBlue;
    }
  }
  &__link {
    @media (max-width: $breakpoint-xl) {
      font-size: 16px;
    }
    & a {
      font-size: 18px;
      @media (max-width: $breakpoint-xl) {
        font-size: 16px;
      }
      color: $darkBlue;
    }
  }
}

.benefits {
  background: $lightGrey;
  padding: 65px 0;
  position: relative;
  margin-bottom: 20px;
  @media (max-width: $breakpoint-lg) {
    padding: 50px 0;
  }
  & .col-xs-12 {
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 20px;
    }
  }
  &__icon {
    height: 58px;
    margin-bottom: 24px;
    & img {
      @include defaultIcon(contain);
      object-position: left;
    }
    @media (max-width: 1024px) {
      height: 44px;
      margin-bottom: 18px;
    }
  }
  & h3 {
    margin-bottom: 8px;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    color: #014f82;
    @media (max-width: $breakpoint-xl) {
      font-size: 24px;
      line-height: 36px;
    }
    @media (max-width: $breakpoint-lg) {
      line-height: 32px;
    }
  }
  // & .btn-primary {
  //   @media (max-width: $breakpoint-xl) {
  //     padding: 10px 47px;
  //   }
  //   @media (max-width: $breakpoint-lg) {
  //     padding: 6px 36px;
  //   }
  // }
  & p {
    margin-bottom: 10px;
  }
  & .text-blue {
    color: $darkBlue;
  }
}

.button-row {
  position: absolute;
  bottom: -23px;
  left: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
}

.cta {
  background: $lightGrey;
  margin-bottom: 30px;
  padding: 60px 0;
  position: relative;
  @media (max-width: $breakpoint-lg) {
    padding: 45px 0;
    // margin-bottom: 100px;
  }
  @media (max-width: $breakpoint-md) {

  }
  &__inner {
    // display: flex;
    // align-items: flex-end;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    // margin-right: 30px;
    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }
  }
  &__icon {
    width: 55px;
    margin-bottom: 14px;
    @media (max-width: $breakpoint-lg) {
      width: 44px;
    }
    & img {
      @include defaultIcon(contain);
    }
  }
  &__title {
    margin-bottom: 6px;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.6;
    color: #014f82;
    @media (max-width: $breakpoint-xl) {
      font-size: 24px;
    }
  }
  &__description {
    width: 85%;
    @media (max-width: $breakpoint-xl) {
      margin-right: 60px;
    }
    @media (max-width: $breakpoint-lg) {
      margin-right: 0;
      width: 100%;
    }
    & strong {
      font-weight: 700;
      color: #014f82;
    }
  }
  &__button {
    // margin-left: auto;
    margin-top: 6px;
    @media (max-width: $breakpoint-lg) {
      position: absolute;
      left: 0;
      bottom: -23px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    // & a {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   min-width: 160px;
    //   width: 160px;
    //   padding: 10px 10px;
    //   @media (max-width: $breakpoint-xl) {
    //     width: 178px;
    //     min-width: 178px;
    //   }
    //   @media (max-width: $breakpoint-lg) {
    //     width: unset;
    //     min-width: unset;
    //     padding: 6px 27px;
    //   }
    // }
  }
}

.faq {
  background: $lightGrey;
  padding: 100px 0;
  @media (max-width: $breakpoint-xl) {
    padding: 65px 0;
  }
  @media (max-width: $breakpoint-md) {
    padding: 50px 0;
  }
  &__heading {
    // font-family: "Montserrat", sans-serif;
    font-family: "HelveticaNowDisplay-XBd", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    color: #014f82;
    display: flex;
    align-items: center;
    margin: 0 0 25px 0;
    align-items: center;
    @media (max-width: $breakpoint-xl) {
      font-size: 30px; 
      line-height: 35px;
    }
    @media (max-width: $breakpoint-lg) {
      font-size: 24px;
      line-height: 30px;
      flex-direction: column-reverse;
      align-items: flex-start;
      margin: 0 -15px 25px -15px;
    }
    & .icon-faq {
      background: url('../img/faq-icon.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 48px;
      height: 48px;
      margin-left: 20px;
      @media (max-width: $breakpoint-xl) {
        width: 42px;
      }
      align-items: center;
      @media (max-width: $breakpoint-lg) {
        margin: 0 0 8px 0;
      }
    }
  }
  &__addition {
    padding: 0 20px;
    font-size: 21px;
    margin: 30px -20px 0 -20px;
    font-weight: 700;
    & a {
      font-weight: 700;
    }
    @media (max-width: $breakpoint-lg) {
      margin: 0 -15px;
      padding: 10px 0;
      font-size: 18px;
      margin-top: 10px;
    }
  }
}

.resources {
  padding: 100px 0 35px 0;
  @media (max-width: $breakpoint-xl) {
    padding: 70px 0;
  }
  @media (max-width: $breakpoint-lg) {
    padding-top: 60px;
  }
  @media (max-width: $breakpoint-md) {
    padding-bottom: 20px;
  }
  &__item {
    margin-bottom: 40px;
    & .btn {
      // padding: 10px 25px;
      // @media (max-width: $breakpoint-lg) {

      // }
      // @media (max-width: $breakpoint-md) {
      //   padding: 9px 16px;
      // }
    }
  }
  &__heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
    color: $lightBlue;
  }
  &__title {
    margin-bottom: 18px;
    font-weight: 900;
    line-height: 36px;
    font-size: 24px;
    color: $darkBlue;
    @media (max-width: $breakpoint-lg) {
      font-size: 21px;
    }
  }
  &__description {
    margin-bottom: 20px;
  }
}